* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab',serif;
}

body {
    font-size: large;
    overflow-x: hidden;
    /* background-color: #ff8725; */
}

.links{

    /* height: 50px; */
    color: black;
    display: flex;
    justify-content: flex-end   ;
    position: sticky;
    top: 1rem;
    /* background-color: #ff8725; */
    align-items: center;
} 

.links a {
    color: black;  
    font-size: 20px;
    text-decoration: none;
    font-size: 25px;
    align-items: center;
    padding-right: 25px;
}

.links a:hover {
    color: white;  
}

 /* Slides CSS */
 .mySlides{
     height: 750px;

     display: flex;
     /* box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
 }
 

/* Slides Page Arrows, Container in slides */
.leftButton{
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 6px;
    padding-bottom: 1px;
    background-color: #ff8725 ;
    color: white;
    left: 49%;
    bottom: 5rem;
}

.rightButton{
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 6px;
    background-color: #ff8725 ;
    color: white;
    bottom: 5rem;
    left: 51%;
}
.leftButton:hover{
    background-color: white ;
    color: #ff8725 ;
}

.rightButton:hover{
    background-color: white ;
    color: #ff8725 ;
}

.numbertext {
    color: black;
    font-size: 22px;
    padding: 15px 30px;
    position: absolute;
    top: 5px;
    margin-top: 60px;
 }



/* Slide 1 */
 .slidesAboutHeader{
    height: 620px;
    padding-top: 250px;
    text-align: center;
    font-size: 30px;
    background: white ;
}
.slidesAboutHeader p{
    padding-top: 40px;
    font-size: 30px;
}

.orange{
    color:#ff8725 ;
}

.underline {
    font-weight: bold;
}

.helps{
    text-decoration: underline;
}
.slide1BtnContainer{
    text-align: center;
    padding-top: 300px;
}

/* Slide 2 */
.slideWhatItDoes{
    height: 500px;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    background: white ;
}
.mySlidesPContainer{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: space-evenly;
}

.slideWhatItDoes p{
    padding-top: 40px;
}

.slideWhatItDoes{
    font-family: 'Source Sans Pro', sans-serif;
}

.slideWhatItDoes{
    text-align: center;
}

.slide2BtnContainer{
    text-align: center;
    padding-top: 265px;
    height: 650px;

}

/* slide 3 */
.slideHowItWorks{
    height: 650px;
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    background: white ;
}

.slide3BtnContainer{
    text-align: center;
    padding-top: 74px;
}


/* slide 4  */

.SlideEvidenceContainer{
    height: 600px;
    background: white ;
    text-align: center;
    padding-top: 150px;
}

.SlideEvidenceContainer{

}
.SlideEvidenceContainer h1{ 
    font-size: 60px;
}
.SlideEvidenceContainer h2{ 
    font-family: 'Source Sans Pro', sans-serif;
}

.SlideEvidenceContainer p{
    font-family: 'Source Sans Pro', sans-serif;
}
.studyLink {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    color: black;
}

.studyLink:hover {

    color: rgb(27, 50, 58);
}

.slide4BtnContainer{
    text-align: center;
    padding-top: 202px;
}


/* slide 5 */

.unlikeOthers{ 
    height: 600px;
    background: white ;
    text-align: center;
    padding-top: 150px;

}
.unlikeOthers h1{ 
    font-size: 60px;
}

.unlikeOthers h2 p{ 
    font-family: 'Source Sans Pro', sans-serif;
}

.slide5BtnContainer{
    text-align: center;
    padding-top: 189px;
}


/* slide 6 */

.slideEmailContainer{
    height: 700px;
    background: white ;
    text-align: center;
    padding-top: 50px;
}
.slideEmailContainer h1{
    text-align: center;
}

.strike{
    text-decoration: line-through;
}
.slideEmailContainer h2{
    margin-left: 10vw;
    border-bottom: solid 1;
    text-decoration: underline;
    font-family: 'Source Sans Pro', sans-serif;
}

.example {
    font-family: 'Source Sans Pro', sans-serif;
}

.slideEmailContainer p {
    padding-top: 10px;   
    margin-left: 15vw;
    margin-right: 15vw;
    font-family: 'Source Sans Pro', sans-serif;
}

.slideEmailContainer h4 {
    padding-top: 10px;   
}

.slideEmailContainer img {
    height: 300px;
}

.slide6BtnContainer{
    text-align: center;
    padding-top: 6px;
}



/* slide 7 */
.visualization{
    height: 600px;
    background: white ;
    text-align: center;
    padding-top: 150px;
}
.visualImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.labelContainer{
    display: flex;
    flex-direction: column;
}

.visualization img{
    padding-top: 20px;
    height: 200px;
}

.slide7BtnContainer{
    text-align: center;
    padding-top: 189px;
}


.slideTakeItFromMe{
    height: 600px;
    background: white ;
    text-align: center;
    padding-top: 250px;
}

.slideTakeItFromMe img{
    height: 150px;
    border-radius: 125px;
}
.slideTakeItFromMe a{
   font-size: 30px;
   text-decoration: none;
   color: black;
}
.slideTakeItFromMe a:hover{
    color: #ff8725;
 }

 .slide8BtnContainer{
    text-align: center;
    padding-top: 162px;

}


@media screen and (max-width: 990px) {

    .leftButton{
        display: none;
    }
    
    .rightButton{
        display: none;
    }
    .numbertext{
        display: none;
    }

}
@media screen and (min-width: 1000px) {
    /* Project Images */
    .mobile{
        display: none;
    }
}