@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Open sans light 300 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

.inputField {
    width: 500px;
    margin-top: 20px;
}

*{
    /* background-color: rgb(243,239,224); */
    margin: 0;
    font-size: 20px;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-weight: 400;
    font-family: 'Josefin Slab',serif;
}

.about{
    margin-right: 25px;
    margin-top: 15px;
    float: right;
    color: black;
    text-decoration: none;
    font-size: large;
}


.about:hover{
    color: #ff8725;
}

/* Title and links to reading and writing pages */

#logo{
    font-weight: normal;
    font-size: 40px;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    /* color: #008CBA; */
    color: rgb(33, 33, 33);
    margin-top: 20px;
    /* text-align: center; */
}

.centerContent{
      text-align: center;  
}

.aTagContainer{
    display: flex;
    margin: 0 auto ;
    justify-content: space-between;
    width: 150px;
}

#writingUrl {
    text-decoration: none;
    color: black;
    opacity: .5;
}

#writingUrl:hover {
    color: #ff8725;
}

/* Input field and buttons */
.inputFieldBtns{
    color: rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
}

.btn1 {
    /* border-right: 2px solid #43abc9; */
    background-color: #ff8725;
    border:  2px solid #ff8725;
    box-shadow: 2px 0px rgba(0, 0, 0, .8 );
    border-radius: 0px 0px 0px 10px;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
    width: 100px;
    color: black;
    margin-right: -1px;
}

.btn2 {
    border-radius: 0px 0px 10px 0px;
    background-color: #cfeaff;
    border:  2px solid #cfeaff;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
    color: black;
    width: 100px;
    margin-left: -1px; 
}

.btn1:hover {
    border: 2px solid black;
}

.btn2:hover{
    border: 2px solid black;
}

/* Control panel */

.controlPanelContainer{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 10vw;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 10vw;
}

.controlPanelContainer p{
    margin-top: 25px;
    margin-left: 10vw;
    margin-bottom: 15px;
}

p {
    margin: 0 auto;
    max-width: 100vw;
    line-height: 35px;
    margin-left: 10vw;
    margin-right: 10vw;
}

button {
    border: none;
    color:  rgb(33, 33, 33)
}

.faButton{
    border: 1px solid lightgray;
}

.faButton.hoverable:hover{
    color: #ff8725;
}

h2 {
    margin: 0;
    margin-top: 6px;
}



/* Buttons to change font size */
#fontBtnIncrease {
    background: rgb(250, 250, 250);
    height: 30px;
    padding: 0 8px  0;
    border-radius:  5px 0 0 5px;
    visibility: hidden;
    background-color: white;
}
#font{
    margin-left: -5px;
    height: 30px;
    visibility: hidden;
    background-color: white;
    border: 1px solid lightgray;
}
#sizeDropDown{
    background: rgb(250, 250, 250);
    margin-left: -5px;  
    align-items: center;
    text-align: center;
    height: 30px;
    -webkit-appearance: none;
    padding-left: 10px;
    padding-right: 10px;
    visibility: hidden;
}

#sizeDropDown option {
    align-items: center;

}

#fontBtnDecrease {
    background: rgb(250, 250, 250);
    margin-left: -5px;
    margin-right: 15px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    visibility: hidden;
    background-color: white;
}

#fontBtnDecrease:hover {
    color: #ff8725;
}

#fontSizeP{
    margin-right: 35px;
    color:rgb(33, 33, 33);
}

/* Buttons to change font weight */
#fontWIncrease {
    padding: 0;
    padding: 0 8px  0;
    height: 30px;
    border-radius:  5px 0 0 5px;
    visibility: hidden;
    background-color: white;
}

#fontWDecrease {
    margin-left: -5px;
    margin-right: 15px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    visibility: hidden;
    background-color: white;
}

#fontWeight{
    margin-left: -5px;
    height: 30px;
    visibility: hidden;
    background-color: white;
    border: 1px solid lightgray;
}

/* background colors */

#backgroundModes{
    visibility: hidden;
    border: 1px solid lightgray;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    width: 110px;
    background-color: white;
    margin-right: 15px;
}

#darkMode {
    background-color: rgb(33, 33, 33);
    border: 1px solid rgb(33, 33, 33);;
    border-radius: 10px 0 0 10px;
    visibility: hidden;
    justify-content: center;
    text-align: center;
    width: 33%;
}

#lightMode {
    background-color: white;
    border: 10px solid white;
    visibility: hidden;
    border-radius:  0 10px 10px 0px;
    width: 33%;
    
}

#readerMode{
    background-color: rgb(243,239,224);
    border: 10px solid rgb(243,239,224);
    visibility: hidden;
    width: 33%;

}

/* Save/print button */

#print-button{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-decoration: none;
    visibility: hidden;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    background: white;
}
#print-button:hover{
    color: #ff8725;;

}

/* Output Text */

#outputText {
    visibility: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    padding-top: 15px;
    letter-spacing: 10px;
    min-height: 99vh;
    padding-left: 10px;
    border: 2px solid rgba(133, 133, 133, .1);

    font-size: 25px;
    white-space: normal;
}




