@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Open sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');


*{
    margin: 0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-family: 'Josefin Slab',serif;
}

body {
    background-color: rgb(250, 250, 250);
}

.about{
    margin-right: 25px;
    margin-top: 15px;
    float: right;
    color: black;
    text-decoration: none;
}

/* title and links to reading and writing */
.logo{
    font-weight: normal;
    font-size: 40px;
    height: 40px;
    margin-top: -50;
}
.centerContent{
    text-align: center;  
}

.aTagContainer{
    display: flex;
    margin: 0 auto ;
    justify-content: space-between;
    width: 150px;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    color: rgb(33, 33, 33);
    margin-top: 20px;
}

.centerContent{
    text-align: center;  
}

#indexUrl{
    text-decoration: none;
    color: rgb(33, 33, 33);
    opacity: .5;
}

#currentPage {
    text-decoration: none;
    color: rgb(33, 33, 33);
}

/* control panel */

.controlPanelContainer{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 5px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 10vw;
}

p {
    margin: 0 auto;
    max-width: 100vw;
    line-height: 35px;
    margin-left: 10vw;
    margin-right: 10vw;
}

button {
    border: none;
    color:  rgb(33, 33, 33)
}

.faButton{
    border: 1px solid lightgray;
}

.faButton:hover{
 color: #43abc9
}

/* Buttons to change font size */
#fontBtnIncrease {
    background: rgb(250, 250, 250);
    height: 30px;
    padding: 0 8px  0;
    border-radius:  5px 0 0 5px;
}

#font{
    margin-left: -5px;
    height: 30px;
    background: rgb(250, 250, 250);
}
#font:hover{
    color: black;
}
#fontBtnDecrease {
    background: rgb(250, 250, 250);
    margin-left: -5px;
    margin-right: 15px;
    height: 30px;
    border-radius: 0 5px 5px 0;
}

#fontSizeP{
    margin-right: 35px;
    color:rgb(33, 33, 33);
}

/* Buttons to change font weight */
#fontWIncrease {
    padding: 0;
    background: rgb(250, 250, 250);
    padding: 0 8px  0;
    height: 30px;
    border-radius:  5px 0 0 5px;
}
#fontWDecrease {
    background: rgb(250, 250, 250);
    margin-left: -5px;
    height: 30px;
    border-radius: 0 5px 5px 0;
}
#fontWeight{
    margin-left: -5px;
    background: rgb(250, 250, 250);
    height: 30px;
}
#fontWeight:hover{
    color: black;
}

/* Buttons to change background color*/
#backgroundColor {

    color: rgb(33, 33, 33)
}

#darkMode {

    background-color: white;
    background-color: white;
    background-color: white;
    border: 10px solid rgb(33, 33, 33);
}
#lightMode {

    background-color: white;
    background-color: white;
    border: 10px solid white;

}

#readerMode{

    background-color: rgb(243,239,224);
    border: 10px solid rgb(243,239,224);
}

/* Save / Print button */

#print-button{
    display: flex;
    align-items: center;
    margin-left: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    background: white;
}
#print-button:hover{
    color:#43abc9
}


#outputText {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 15px;
    letter-spacing: 10px;
    min-height: 99vh;
    padding-left: 10px;
    border: 2px solid rgba(133, 133, 133, .1);
    font-size: 16px;
}
