

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab',serif;
}

body {
    font-size: large;
    overflow-x: hidden;
}

.links{
    margin-right: 25px;
    margin-top: 15px;
    margin-left:auto;
    color: black;
    display: flex;
    width: 150px;
    justify-content: space-between;
    height: 30px;
} 

.links a {
    color: black;  
    font-size: 20px;
    text-decoration: none;
}

p {
    font-size: 25px;
}

.aboutHeader{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    
}
.aboutHeader p{
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    /* margin-left: 5vw;
    margin-right: 5vw; */
}

.orange{
    color:#ff8725 ;
}
.helps{
    text-decoration: underline;
}

.whatItDoes{

    text-align: center;
    background: #ff8725 ;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 100px;

}

.whatItDoes h1 {
    margin-left: 5vw;
    margin-right: 5vw;

}

.becomes {
    opacity: .65;
}

.whatItDoes i {
    opacity: .65;
}


.howItWorks{
    text-align: center;
}



.evidenceContainer{
    background-color: #ff8725;
    margin-top: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}


.evidenceContainer h1{
    color: black;

}
.evidence{
    margin-left: 10vw;
    margin-right: 10vw
}
.evidence h1{ 

}
.evidence h2{ 

}

.evidence p{

}
.studyLink {
    display: flex;
    justify-content: center;

    font-size: 23px;
    color: black;
}

.studyLink:hover {

    color: rgb(27, 50, 58);
}





.emailContainer{
    margin-top: 200px;
    padding-bottom: 200px;
}
.emailContainer h1{
    text-align: center;
}
.emailContainer h2{
    margin-left: 10vw;
    border-bottom: solid 1;
    text-decoration: underline;
}


.emailContainer p {
    padding-top: 10px;   
    margin-left: 15vw;
    margin-right: 15vw;
}

.emailContainer h4 {
    padding-top: 10px;   

}