

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab',serif;

}

body {
    font-size: large;
    overflow-x: hidden;
    background-color: #ff8725;;
}

.links{
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    color: black;
    display: flex;
    width: 150px;
    justify-content: space-between;
    height: 30px;
} 

.links a {
    color: black;  
    font-size: 20px;
    text-decoration: none;
}
.links a:hover {
    color: white;  

}
p {
    font-size: 25px;
}

.aboutHeader{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    
}
.aboutHeader p{
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    /* margin-left: 5vw;
    margin-right: 5vw; */
}

.orange{
    color:#ff8725 ;
}
.helps{
    text-decoration: underline;
}

.whatItDoes{

    text-align: center;
    background: #ff8725 ;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 100px;

}

.whatItDoes h1 {
    margin-left: 5vw;
    margin-right: 5vw;

}

.becomes {
    opacity: .65;
}

.transformedText{
    font-family: 'Source Sans Pro', sans-serif;
}

.whatItDoes i {
    opacity: .65;
}


.howItWorks{
    text-align: center;
}



.evidenceContainer{
    background-color: #ff8725;
    margin-top: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}


.evidenceContainer h1{
    color: black;

}
.evidence{
    margin-left: 10vw;
    margin-right: 10vw
}
.evidence h1{ 

}
.evidence h2{ 
    font-family: 'Source Sans Pro', sans-serif;
}

.evidence p{
    font-family: 'Source Sans Pro', sans-serif;
}
.studyLink {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    color: black;
}

.studyLink:hover {

    color: rgb(27, 50, 58);
}





.emailContainer{
    margin-top: 100px;
    padding-bottom: 200px;
}
.emailContainer h1{
    text-align: center;
}
.emailContainer h2{
    margin-left: 10vw;
    border-bottom: solid 1;
    text-decoration: underline;
    font-family: 'Source Sans Pro', sans-serif;
}

.example {
    font-family: 'Source Sans Pro', sans-serif;
}

.emailContainer p {
    padding-top: 10px;   
    margin-left: 15vw;
    margin-right: 15vw;
}

.emailContainer h4 {
    padding-top: 10px;   
}


.childrenContainer{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 200px;
    text-align: center;
}

.jumbledExample{
    letter-spacing: -2px;
}

.normalExample{
    letter-spacing: 1px; 
}


.takeItFromMe{
    text-align: center;
    padding-bottom: 300px;
}

.takeItFromMe img{
    height: 150px;
    border-radius: 125px;
}
.takeItFromMe a{
   font-size: 30px;
   text-decoration: none;
   color: black;
}
.takeItFromMe a:hover{

    color: #ff8725;
 }



 /* Slides CSS */
 .mySlides{
     margin-left: 5vw;
     margin-right: 5vw;
     height: 700px;
     display: flex;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 
        12px 40px 0 rgba(0, 0, 0, 0.19);
 }
 
/* Slide 1 */

 .slidesAboutHeader{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    background: white ;
}
.slidesAboutHeader p{
    padding-top: 40px;
    font-size: 30px;
}

.orange{
    color:#ff8725 ;
}
.helps{
    text-decoration: underline;
}


/* Slide 2 */

.slideWhatItDoes{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    background: white ;
}

.slideWhatItDoes h1 {
}

.slideWhatItDoes {
}

.slideWhatItDoes{
    font-family: 'Source Sans Pro', sans-serif;
}

.slideWhatItDoes i {
}

.slideWhatItDoes{
    text-align: center;
}


/* slide 3 */
.slideHowItWorks{
    height: 700px;
    text-align: center;
    padding-top: 100px;
    background: white ;
}


/* slide 4  */

.SlideEvidenceContainer{
    height: 700px;
    background: white ;
    text-align: center;
}


.SlideEvidenceContainer h1{
    color: black;

}
.evidence{
    margin-left: 10vw;
    margin-right: 10vw
}
.evidence h1{ 

}
.evidence h2{ 
    font-family: 'Source Sans Pro', sans-serif;
}

.evidence p{
    font-family: 'Source Sans Pro', sans-serif;
}
.studyLink {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    color: black;
}

.studyLink:hover {

    color: rgb(27, 50, 58);
}



/* slide 5 */

.slideEmailContainer{
    background: white ;
}
.slideEmailContainer h1{
    text-align: center;
}
.slideEmailContainer h2{
    margin-left: 10vw;
    border-bottom: solid 1;
    text-decoration: underline;
    font-family: 'Source Sans Pro', sans-serif;
}

.example {
    font-family: 'Source Sans Pro', sans-serif;
}

.slideEmailContainer p {
    padding-top: 10px;   
    margin-left: 15vw;
    margin-right: 15vw;
}

.slideEmailContainer h4 {
    padding-top: 10px;   
}



/* slide 6 */

.slideChildrenContainer{
    padding-top: 150px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 200px;
    text-align: center;
    background: white ;
}

.jumbledExample{
    letter-spacing: -2px;
}

.normalExample{
    letter-spacing: 1px; 
}


.takeItFromMe{
    text-align: center;
    padding-bottom: 300px;
}

.takeItFromMe img{
    height: 150px;
    border-radius: 125px;
}
.takeItFromMe a{
   font-size: 30px;
   text-decoration: none;
   color: black;
}
.takeItFromMe a:hover{

    color: #ff8725;
 }



 /* slide 7 */

 
.slideTakeItFromMe{
    background: white ;
    text-align: center;
    padding-top: 150px;
}

.slideTakeItFromMe img{
    height: 150px;
    border-radius: 125px;
}
.slideTakeItFromMe a{
   font-size: 30px;
   text-decoration: none;
   color: black;
}
.slideTakeItFromMe a:hover{

    color: #ff8725;
 }



/* Slides Page btn */
.btnContainer{
    text-align: center;
}
.leftButton{
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 6px;
    background-color: white;
}

.rightButton{
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 6px;
    background-color: white;
}