@media print {
    .printContainer {
        background-color: white;        
        width: 115%;
        position: absolute;
        top: 15px;

        /* margin: 0; */
        margin-left: -6vw;
    }
    .about {
        display: none;
    }
}
