@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Open sans light 200 */



/* Open sans light 300 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
.inputField {
    width: 500px;
    border-radius: 0px 10px 10px 0px;
    margin-left: 25px;
}

*{
    /* background-color: rgb(243,239,224); */
    margin: 0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

#all{

}


h1 {
    font-weight: normal;
    font-size: 40px;
    /* color: #008CBA; */
    color: rgb(33, 33, 33);
    margin: 20px;
}

.controlPanelContainer{
    margin-left: 25px;
    margin-bottom: 15px;

}

p {
    margin: 0 auto;
    max-width: 100vw;
    line-height: 35px;
    margin-left: 25px;
    margin-right: 25px;
    /* font-weight: 100; */
}

.inputFieldBtns{
    border: 1px solid #1287a8;
    background-color:  #1287a8;
    border-radius: 3px;
    color: white;
}
.inputFieldBtns:hover{
    background-color:#43abc9;

}

/* Font awesome buttons */
button {
    border: none;
    color:  rgb(33, 33, 33)
}

.faButton{
    margin-top: 7px;
}

.faButton:hover{
 color: #43abc9
}

h2 {
    margin: 0;
    margin-top: 6px;

}

#outputText {
    visibility: hidden;
    border-top: 1px solid rgb(33, 33, 33);
    padding-top: 15px;
}
.controlPanelContainer {
    display: flex;
    flex-direction: row;
}


/* Buttons to change font size */
#fontBtnIncrease {
    visibility: hidden;
    padding: 0;
    background-color: white;
}
#fontBtnDecrease {
    visibility: hidden;
    background-color: white;
}

#fontSizeP{
    visibility: hidden;
    margin-right: 35px;
    background-color: white;
    color:rgb(33, 33, 33)
}

/* Buttons to change font weight */
#fontWIncrease {
    visibility: hidden;
    padding: 0;
    background-color: white;
}
#fontWDecrease {
    visibility: hidden;
    background-color: white;
}

#fontWeightP{
    visibility: hidden;
    margin-right: 35px;
    background-color: white;
    color: rgb(33, 33, 33)
}

/* Buttons to change background color*/

#backgroundColor {
    visibility: hidden;
    background-color: white;
    color: rgb(33, 33, 33)
}

#darkMode {
    visibility: hidden;

    background-color: white;
    background-color: white;
    background-color: white;
    border: 10px solid rgb(33, 33, 33)

}
#lightMode {
    visibility: hidden;
    background-color: white;
    background-color: white;
    border: 10px solid white;

}

#readerMode{
    visibility: hidden;

    background-color: rgb(243,239,224);
    border: 10px solid rgb(243,239,224);

}




