@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.inputField {
    width: 500px;
    border-radius: 0px 10px 10px 0px
}

*{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: rgb(243,239,224);
}

h1 {
    font-weight: normal;
    font-size: 40px;
    color: #008CBA;
}
p {
    margin: 0 auto;
    max-width: 100vw;
    line-height: 32px;
    padding: 12px;
    font-weight: 300;
}

button {
    margin: 0;
    padding: 2px 10px;
    border-radius: 10px;
    color:#FFFFFF;
    background-color: #008CBA;

}

h2 {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 6px;
}
::placeholder {
    color: #008CBA;
}

button:hover{
    background-color:#00ade7
}

#outputText {
    overflow-wrap: break-word;
    hyphens: auto;
}


#fontBtnIncrease {
    visibility: hidden;
}
#fontBtnDecrease {
    visibility: hidden;
}

#fontSizeP{
    visibility: hidden;
}

.fontControlContainer{

}