@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Open sans light 200 */



/* Open sans light 300 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
.inputField {
    width: 500px;

    margin-top: 20px;

}

*{
    /* background-color: rgb(243,239,224); */
    margin: 0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

#all{

}

.logoFirstWord{
    letter-spacing: 10px;
    font-weight: normal;
    font-size: 40px;
}
h1 {
    font-weight: normal;
    font-size: 40px;
    /* color: #008CBA; */
    color: rgb(33, 33, 33);
    margin-left: 20px;
    margin-top: 20px;
    /* text-align: center; */

}
.centerContent{
      text-align: center;  
}
.currentPage{
    
}

.writingUrl {
    text-decoration: none;
    color: black;
    opacity: .5;
}

.controlPanelContainer{
    margin-left: 25px;
    margin-bottom: 15px;
    justify-content: center;
}

p {
    margin: 0 auto;
    max-width: 100vw;
    line-height: 35px;
    margin-left: 25px;
    margin-right: 25px;
    /* font-weight: 100; */
}

a {
  padding-right: 10px;
  padding-left: 10px;
}
.inputFieldBtns{
    background-color: #268ba7;
    color: white;
    margin-bottom: 10px;
    /* margin-left:  -4px; */
    border:  2px solid #268ba7;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* Firefox 4+, Opera, Chrome */

}
/* #268ba7;
#43abc9; */
.btn1 {
    border-right: 2px solid #43abc9;
    border-radius: 0px 0px 0px 10px;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
    width: 100px;
}

.btn2 {
    border-radius: 0px 0px 10px 0px;
    /* margin-left:  -5px; */
    border:  2px solid #268ba7;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* Firefox 4+, Opera, Chrome */

    width: 100px;
}

.inputFieldBtns:hover{
    background-color:#43abc9;
    border:  2px solid #43abc9;

}
.btn2:hover {

    border-right: 2px solid #268ba7;
}


/* Font awesome buttons */
button {
    border: none;
    color:  rgb(33, 33, 33)
}

.faButton{
    margin-top: 7px;
}

.faButton:hover{
 color: #43abc9
}

h2 {
    margin: 0;
    margin-top: 6px;

}


#outputText {
    visibility: hidden;
    border-top: 1px solid rgb(33, 33, 33);
    padding-top: 15px;
    letter-spacing: 10px;
    white-space: pre-wrap;

}


.controlPanelContainer {
    display: flex;
    flex-direction: row;
}


/* Buttons to change font size */
#fontBtnIncrease {
    visibility: hidden;
    padding: 0;
    background-color: white;
}
#fontBtnDecrease {
    visibility: hidden;
    background-color: white;
}

#fontSizeP{
    visibility: hidden;
    margin-right: 35px;
    background-color: white;
    color:rgb(33, 33, 33)
}

/* Buttons to change font weight */
#fontWIncrease {
    visibility: hidden;
    padding: 0;
    background-color: white;
}
#fontWDecrease {
    visibility: hidden;
    background-color: white;
}

#fontWeightP{
    visibility: hidden;
    margin-right: 35px;
    background-color: white;
    color: rgb(33, 33, 33)
}

/* Buttons to change background color*/

#backgroundColor {
    visibility: hidden;
    background-color: white;
    color: rgb(33, 33, 33)
}

#darkMode {
    visibility: hidden;

    background-color: white;
    background-color: white;
    background-color: white;
    border: 10px solid rgb(33, 33, 33)

}
#lightMode {
    visibility: hidden;
    background-color: white;
    background-color: white;
    border: 10px solid white;

}

#readerMode{
    visibility: hidden;

    background-color: rgb(243,239,224);
    border: 10px solid rgb(243,239,224);

}




