@media print {
    .printContainer {
        background-color: white;        
        width: 110%;
        position: absolute;
        top: 0;
        left: 0;
        /* margin: 0; */
        margin-left: -10vw;
        /* margin-right: -5vw; */
    }
    .about {
        display: none;
    }
}
