@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Open sans light 200 */



/* Open sans light 300 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');


*{
    /* background-color: rgb(243,239,224); */
    margin: 0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

}

#all{

}


h1 {
    font-weight: normal;
    font-size: 40px;
    /* color: #008CBA; */
    color: rgb(33, 33, 33);
    margin-left: 20px;
    margin-top: 20px;
}

#indexUrl{
    text-decoration: none;
    color: rgb(33, 33, 33);
    opacity: .5;
}

#currentPage {

}


.controlPanelContainer{
    margin-top: 15px;
    margin-left: 10vw;
    margin-bottom: 15px;

}

p {
    margin: 0 auto;
    max-width: 100vw;
    line-height: 35px;
    margin-left: 10vw;
    margin-right: 10vw;
    /* font-weight: 100; */
}

a {
    margin-left: 25px;
}
.inputFieldBtns{
    border: 1px solid #1287a8;
    background-color:  #1287a8;
    border-radius: 3px;
    color: white;
    margin-top: 20px;
}
.inputFieldBtns:hover{
    background-color:#43abc9;

}

/* Font awesome buttons */
button {
    border: none;
    color:  rgb(33, 33, 33)
}

.faButton{
    margin-top: 7px;
}

.faButton:hover{
 color: #43abc9
}

h2 {
    margin: 0;
    margin-top: 6px;

}
.test{
    word-wrap: normal;

    /* width: 900px; */
}


#outputText {

    padding-top: 15px;
    letter-spacing: 10px;
    white-space: pre-wrap;
    /* border: 1px solid rgb(33, 33, 33); */
    /* background-color: white; */
    min-height: 100vh;
    padding-left: 15px;
    border: 2px solid rgba(133, 133, 133, .1);
    /* box-shadow: 15px 15px 15px 15px black; */
}


.controlPanelContainer {
    display: flex;
    flex-direction: row;
}


/* Buttons to change font size */
#fontBtnIncrease {

    padding: 0;
    background-color: white;
}
#fontBtnDecrease {

    background-color: white;
}

#fontSizeP{

    margin-right: 35px;
    background-color: white;
    color:rgb(33, 33, 33)
}

/* Buttons to change font weight */
#fontWIncrease {

    padding: 0;
    background-color: white;
}
#fontWDecrease {

    background-color: white;
}

#fontWeightP{

    margin-right: 35px;
    background-color: white;
    color: rgb(33, 33, 33)
}

/* Buttons to change background color*/

#backgroundColor {

    background-color: white;
    color: rgb(33, 33, 33)
}

#darkMode {

    background-color: white;
    background-color: white;
    background-color: white;
    border: 10px solid rgb(33, 33, 33)

}
#lightMode {

    background-color: white;
    background-color: white;
    border: 10px solid white;

}

#readerMode{

    background-color: rgb(243,239,224);
    border: 10px solid rgb(243,239,224);

}




